*.elc
auto-save-list
.emacs.d/ac-comphist.dat
.emacs.d/places
.emacs.d/.smex-items
.emacs.d/myetags
.emacs.d/url/cookies
.emacs.d/backups
.emacs.d/eshell
.emacs.d/elpa
.emacs.d/.python-environments
.emacs.d/games/
.emacs.d/jabber-avatar-cache/
.emacs.d/jabber-history/
.emacs.d/projectile-bookmarks.eld

